spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=
spring.datasource.password=
spring.datasource.url=

spring.mvc.view.prefix=/WEB-INF/jsp/
spring.mvc.view.suffix=.jsp

spring.datasource.initialization-mode=always

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=true

logging.level.root=INFO
logging.file.name=log.txt

spring.servlet.multipart.max-request-size=100MB
spring.servlet.multipart.max-file-size=100MB

server.port=8080

default-photo-name=default_photo.jpg
file-storage-path=


#TESTS

entry_test_q1=4
entry_test_q2=4
entry_test_q3=1
entry_test_q4=3
entry_test_q5=2

cheb_test_q1=1
cheb_test_q2=715
cheb_test_q3=2
cheb_test_q4=667
cheb_test_q5=4
